@{
    ViewData["Title"] = "Contact and About";
}
<section id="bg3">
    <header id="ind">About Us</header>
    <p id="intro">
        Industry 4.0 is a name given to the current trent of automation and data
        exchange in manufacturing technologies. It includes cyber-physical systems, the Internet
        of things, cloud computing and cognitive computing. Industry 4.0 is commonly reffered
        to as the fourth industrial revolution.<br />Wikipedia
    </p>
</section>
<div class="wrapper">
    <form class="form">
        <div class="pageTitle title">Contact Us </div>
        <div class="secondaryTitle title">Send us a message and we will respone within 24 hours</div>
        <input type="text" class="name formEntry" placeholder="Name" />
        <input type="text" class="email formEntry" placeholder="Email" />
        <textarea class="message formEntry" placeholder="Message"></textarea>
        <input type="checkbox" class="termsConditions" value="Term">
        <label style="color: grey" for="terms"> I Accept the <span style="color: #0e3721">Terms of Use</span> & <span style="color: #0e3721">Privacy Policy</span>.</label><br>
        <button class="submit formEntry" onclick="thanks()">Submit</button>
    </form>
</div>

