@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="backg">
    <header id="ind2">Emerging technologies</header>
</section>

<div class="accordion" id="myAcc">
    <div class="card" style="margin-bottom:5px;">
        <div class="card-header" id="headingOne" style="background-color: lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">AI</button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAcc" style="background-color: lightgray">

            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/AI/ibm.jpg" />

                        <h2>IBM</h2>
                        <p>
                            IBM Watson is AI for business.
                            Watson helps organizations predict future outcomes, automate complex processes, and optimize employees’ time.
                            The Watson portfolio is designed to make it easy for you to use data from diverse sources, trust the recommendations
                            and predictions from your AI models, and get more value from your AI, faster. With Watson, you have access to the most
                            complete portfolio of AI capabilities for business, whether it’s tools for building your own models, pre-built applications
                            to accelerate time to value, or access to a robust ecosystem of partners across multiple industries.<br>
                            <a href="https://www.ibm.com/watson">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/AI/microsoft.jpg" />

                        <h2>Microsoft</h2>
                        <p>
                            Microsoft supports researchers, non-profits, and organizations who are using technology and AI to improve the world across multiple
                            disciplines: the environment, accessibility, humanitarian issues, cultural heritage, and health.<br>
                            <a href="https://www.microsoft.com/en-us/ai?activetab=pivot1%3aprimaryr6">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/AI/csiro.jpg" />

                        <h2>CSIRO</h2>
                        <p>
                            We are CSIRO

                            Over nearly a century, we've been improving the lives of people everywhere with our science. We’ve advanced Australia with
                            a range of inventions and innovations that have had significant positive impact on the lives of people around the world, like fast WiFi,
                            polymer banknotes, the CSIRO Total Wellbeing Diet and Aerogard.<br>
                            <a href="https://www.csiro.au/en/about">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/AI/amazon.jpg" />

                        <h2>Amazon</h2>
                        <p>
                            Cloud computing with AWS

                            Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud platform, offering over 200 fully
                            featured services from data centers globally. Millions of customers—including the fastest-growing startups, largest enterprises,
                            and leading government agencies—are using AWS to lower costs, become more agile, and innovate faster.<br>
                            <a href="https://aws.amazon.com/machine-learning/ai-services/">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-bottom:5px;">
        <div class="card-header" id="headingTwo" style="background-color:lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">IoT</button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingThree" data-parent="#myAcc" style="background-color:lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/iot/ibm.jpg" />

                        <h2>IBM</h2>
                        <p>
                            Industry 4.0 manufacturing is all about the increasing connectivity of smaller and smaller components.
                            It uses the data collected by physical things, either built products out in the real world, or components
                            within a machine on the production line, to impact how these things themselves are manufactured. The more
                            information that can be gathered by these objects, the more effective the manufacturing process can become.<br>
                            <a href="https://www.ibm.com/blogs/internet-of-things/industry-4-0/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/iot/microsoft.jpg" />

                        <h2>Microsoft</h2>
                        <p>
                            Internet of Things or IoT refers to a collection of managed and platform services across edge and
                            cloud that connect, monitor, and control billions of IoT assets. It also includes security and operating
                            systems for devices and equipment, along with data and analytics that help businesses to build, deploy, and
                            manage IoT applications. When discussing the Internet of Things, we consider how these services work together
                            across three components:<br>

                            Things:<br>

                            The physical objects, or things, such as industrial equipment, devices, or sensors, that connect to the cloud persistently or intermittently.<br>
                            Insights:<br>

                            Information collected by the things, which is analyzed and turned into actionable knowledge either by people or AI.<br>
                            Actions:<br>

                            The way people respond to those insights and connect them to their business, as well as the systems and tools they use.<br>

                            <a href="https://azure.microsoft.com/en-us/overview/iot/?site=mscom_iot">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/iot/amazon.jpg" />

                        <h2>Amazon</h2>
                        <p>
                            AWS offers Internet of Things (IoT) services and solutions to connect and manage billions of devices. Collect, store, and analyze IoT data for industrial, consumer, commercial, and automotive workloads. <br>

                            Accelerate innovation with the most complete set of IoT services :<br>

                            Scale, move quickly, and save money, with AWS IoT. From secure device connectivity to management, storage, and analytics, AWS IoT has the broad and deep services you need to build complete solutions. <br>
                            Secure your IoT applications from the cloud to the edge :<br>

                            AWS IoT services address every layer of your application and device security. Safeguard your device data with preventative mechanisms, like encryption and access control, and consistently audit and monitor your configurations with AWS IoT Device Defender. <br>
                            Build intelligent IoT solutions with superior AI and ML integration :<br>

                            Create models in the cloud and deploy them to devices with up to 25x better performance and less than 1/10th the runtime footprint. AWS brings artificial intelligence (AI), machine learning (ML), and IoT together to make devices more intelligent.<br>
                            Scale easily and reliably:<br>
                            Build innovative, differentiated solutions on secure, proven, and elastic cloud infrastructure that scales to billions of devices and trillions of messages. AWS IoT easily integrates with other AWS services.<br>
                            <a href="https://aws.amazon.com/iot/?sc_channel=PS&sc_campaign=acquisition_AU&sc_publisher=google&sc_medium=iot_nb&sc_content=iot_e&sc_detail=iot&sc_category=iot&sc_segment=154387165862&sc_matchtype=e&sc_country=AU&s_kwcid=AL!4422!3!154387165862!e!!g!!iot&ef_id=WmksLwAAAHVHXlHa:20180805102347:s">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/iot/cio.jpg" />

                        <h2>CIO</h2>
                        <p>
                            CIO attracts the highest concentration of enterprise CIOs and business technology executives with unparalleled peer insight and expertise on business strategy, innovation, and leadership. CIO readers gain key insights on career development for themselves and their employees, including certifications, hiring practices, and skills development, along with a strong foundation in digital transformation of their businesses.<br>
                            <a href="https://www.cio.com/article/3496289/federal-government-launches-ai-and-iot-projects.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree" style="background-color: lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">Cognitive Computing</button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAcc" style="background-color: lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/CC/ibm.jpg" />

                        <h2>IBM</h2>
                        <p>
                            Artificial intelligence services from IBM can help you drive smart evolution of your workflows, technology and entire organization. Our industry experts help you implement a data-first strategy, augment with third-party sources, and operationalize and accelerate AI integration across your enterprise to generate positive business growth.<br>
                            <a href="https://www.ibm.com/services/artificial-intelligence">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/CC/microsoft.jpg" />

                        <h2>Microsoft</h2>
                        <p>
                            Cognitive Services brings AI within reach of every developer – without requiring machine learning expertise. All it takes is an API call to embed the ability to see, hear, speak, search, understand and accelerate decision-making into your apps. Enable developers of all skill levels to easily add AI capabilities to their apps.<br>
                            <a href="https://azure.microsoft.com/en-au/services/cognitive-services/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/CC/google.jpg" />

                        <h2>Google</h2>
                        <p>
                            Derive insights from your images in the cloud or at the edge with AutoML Vision or use pre-trained Vision API models to detect emotion, understand text, and more.<br>
                            <a href="https://cloud.google.com/vision/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/CC/forbes.jpg" />

                        <h2>Forbes</h2>
                        <p>
                            Artificial intelligence has been a far-flung goal of computing since the conception of the computer, but we may be getting closer than ever with new cognitive computing models.

                            Cognitive computing comes from a mashup of cognitive science — the study of the human brain and how it functions — and computer science, and the results will have far-reaching impacts on our private lives, healthcare, business, and more.<br>
                            <a href="https://www.forbes.com/sites/bernardmarr/2016/03/23/what-everyone-should-know-about-cognitive-computing/?sh=7ffcaa645088">Read More</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour" style="background-color: lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">Cloud Computing</button>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAcc" style="background-color: lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Cloud/google.jpg" />

                        <h2>Google</h2>
                        <p>
                            Unlock insights from your global device network with an intelligent IoT platform whose scalable, fully managed integration lets you connect, store, and analyze data at the edge and in the cloud.<br>
                            <a href="https://cloud.google.com/solutions/iot/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Cloud/microsoft.webp" />

                        <h2>Microsoft</h2>
                        <p>
                            To bring fans deeper into the game, NBA CourtOptix uses Azure machine learning and AI solutions to provide on-screen analysis of every shot, pass and play.<br>
                            <a href="https://azure.microsoft.com/en-au/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Cloud/ibm.jpg" />

                        <h2>IBM</h2>
                        <p>
                            A full stack cloud platform with over 170 products and services covering data, containers, AI, IoT, and blockchain.

                            Use your existing infrastructure—even edge or other public clouds—with IBM Cloud services, APIs, access policies, security controls and compliance with IBM Cloud Satellite.<br>
                            <a href="https://www.ibm.com/cloud">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Cloud/amazon.jpg" />

                        <h2>Amazon</h2>
                        <p>

                            Start Building on AWS Today
                            Whether you're looking for compute power, database storage, content delivery, or other functionality, AWS has the services to help you build sophisticated applications with increased flexibility, scalability and reliability
                            <br>
                            <a href="https://aws.amazon.com/">Read More</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive" style="background-color: lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">Robotics</button>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAcc" style="background-color: lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Robotics/forbes.jpg" />

                        <h2>Forbes</h2>
                        <p>
                            As manufacturers around the world make strides to build out the vision of Industry 4.0, many – if not most – will embrace advanced machines to accelerate the digital transformation of their operations. The pressures remain: improve productivity, meet consumers’ expectations for customization and drive continuous product innovation while consistently lowering costs. Bottom line: manufacturers can’t ignore the thrumming beat calling for measurable and meaningful progress on Industry 4.0 in 2018.<br>
                            <a href="https://www.forbes.com/sites/jimlawton/2018/03/20/the-role-of-robots-in-industry-4-0/?sh=5096c8e6706b">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Robotics/ZDNet.webp" />

                        <h2>ZDNet</h2>
                        <p>
                            Robotics is part of the Industry 4.0 picture. The market for smart machines in the Americas, including autonomous robots, expert systems, and digital assistants, is growing, in large part because of the rise of Industry 4.9, according to a recent report from Technavio Research.<br>
                            <a href="https://www.zdnet.com/article/robotics-and-industry-4-0/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Robotics/IScoopRobotsCobots.jpg" />

                        <h2>I-Scoop robots cobots</h2>
                        <p>
                            Among them: robotics. Obviously, they are already used a lot in manfacturing and logistics and transportation. However, the market is about to accelerate as research and market evolutions show. Moreover there are ample evolutions, among others regarding the rise of cobots. Robots and cobots in Logistics 4.0 – an overview.<br>
                            <a href="https://www.i-scoop.eu/robots-cobots-logistics-4-0/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/Robotics/AutomationWorld.webp" />

                        <h2>Automation World</h2>
                        <p>

                            The smart industrial facility is upon us. We’re already accustomed to having information about nearly anything at our fingertips. Industry 4.0 looks to extend that immediacy and extract vital information from your sensors, equipment and plant floor.
                            <br>
                            <a href="https://www.automationworld.com/industry-40-here-are-you-ready">Read More</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix" style="background-color: lightgray;">
            <button class="btn cardTitle" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">Block Chain</button>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAcc" style="background-color: lightgray">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/BlockChain/blockChain.jpg" />

                        <h2>Block Chain</h2>
                        <p>
                            Blockchain.com Institutional Markets is a full-stack crypto services platform that works with crypto-native businesses and institutional clients on lending, trading, and custody solutions tailored to your needs.<br>
                            <a href="https://www.blockchain.com/">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/BlockChain/PCMagazine.webp" />

                        <h2>PC Magazine</h2>
                        <p>
                            Blockchain isn't a household buzzword, like the cloud or the Internet of Things. It's not an in-your-face innovation you can see and touch as easily as a smartphone or a package from Amazon. But in a world where anyone can edit a Wikipedia entry, blockchain is the answer to a question we've been asking since the dawn of the internet age: How can we collectively trust what happens online?<br>
                            <a href="https://au.pcmag.com/enterprise/46389/blockchain-the-invisible-technology-thats-changing-the-world">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/BlockChain/forbes.jpg" />

                        <h2>Forbes</h2>
                        <p>
                            Welcome to Industry 4.0, the new age where smart technology and smart appliances are moving us closer and closer to a fully digitized society. Potentially valued at almost $4 trillion by 2020, studies show that businesses everywhere will be able to benefit by embracing the fourth industrial revolution. And, with the emergence of blockchain, we're already on the pathway there.<br>
                            <a href="https://www.forbes.com/sites/andrewrossow/2018/04/11/bringing-blockchain-into-industry-4-0/?sh=15afe83f6dc7">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb30">
                        <img id="imgEmerge" src="~/images/EmergeTech/BlockChain/csiro.jpg" />

                        <h2>CSIRO</h2>
                        <p>

                            At CSIRO, we solve the greatest challenges through innovative science and technology.
                            <br>
                            <a href="https://www.csiro.au/404">Read More</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>